target/
*.jar
*.war
*.ear

# Logs
*.log
logs/

# Spring Boot
application-local.properties
application-dev.properties

.mvn/
mvnw
mvnw.cmd

.gradle/
build/

.project
.classpath
.settings/
bin/

node_modules/
dist/
coverage/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Angular specific
.angular/

.env
*.env

*.db
*.sqlite

*.bak
*.swp